// Core variables and mixins
@import "../../../bower_components/bootstrap/less/variables.less";

@import "../../../bower_components/bootstrap/less/mixins.less";

// Reset and dependencies
@import "../../../bower_components/bootstrap/less/normalize.less";
@import "../../../bower_components/bootstrap/less/print.less";
@import "../../../bower_components/bootstrap/less/glyphicons.less";

// Core CSS
@import "../../../bower_components/bootstrap/less/scaffolding.less";
@import "../../../bower_components/bootstrap/less/type.less";
@import "../../../bower_components/bootstrap/less/code.less";
@import "../../../bower_components/bootstrap/less/grid.less";
@import "../../../bower_components/bootstrap/less/tables.less";
@import "../../../bower_components/bootstrap/less/forms.less";
@import "../../../bower_components/bootstrap/less/buttons.less";

// Utility classes
@import "../../../bower_components/bootstrap/less/utilities.less";
@import "../../../bower_components/bootstrap/less/responsive-utilities.less";


body {
    
    margin-top:50px;

}

audio {

  display: inline-block;
  width: 45px;
  overflow:hidden;
  
}


ul {
  padding: 0;
}

li {
  padding:0;
  list-style: none;
  background:#ccc;
  padding:20px;
  display: inline-block;
  margin:0 10px 10px 0;
  cursor:pointer;
}